html {
	padding: 0;
	margin: 0;
	font-family: arial;
	height: 100%;
	color: #999;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
	min-height: 100%;
}

header {
	padding: 20px 0 0 50px;
}

header #brand img {
	height: 45px;
}

footer {
	background-color: rgba(0,0,0,.7);
	padding: 30px;
	margin-top: 100px;
}



footer a {
	font-size: 0.7em;
	color: #999;
	text-decoration: none;
	margin-right: 50px;
}

footer a:hover {
	text-decoration: underline;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

section {
	flex-grow: 1;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 2em;
	margin: 0 0 30px 0;
}

input[type="email"], input[type="password"] {
	padding: 15px;
	width: 100%;
	font-size: 1em;
	border: 0;
	border-radius: 5px;
	color: #b3b3b3;
	background-color: #333333;
	margin-bottom: 15px;
}

.button {
	background-color: #E50914;
	color: white;
	padding: 15px;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.center{
	padding-top: 10em;
	text-align: center;
	margin: auto;
}

#option {
	color: #b3b3b3;
	margin-top: 10px;
	display: block;
	font-size: 0.9em;
}

#login-body {
	max-width: 450px;
	margin: auto;
	background-color: rgba(0,0,0,.75);
	color: white;
	border-radius: 5px;
	padding: 50px;
	margin-top: 50px;
}

.grey {
	color: #777;
}


.container {
	width: 1000px;
	margin: 0 auto;
}


h1,
h1+p {
	margin: 30px 15px 0;
	font-weight: 300;
}
h1+p a {
	color: #333;
}
h1+p a:hover {
	text-decoration: none;
}
h2 {
	margin: 60px 15px 0;
	padding: 0;
	font-weight: 300;
}
h2 span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}
.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}


/* Blur */
.hover1 figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover1 figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

/* Blur + Gray Scale */
.hover2 figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover2 figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

/* Shine */
.hover3 figure {
	position: relative;
}
.hover3 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover3 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
